*{
    user-select: none;
}
body, html{
    margin: 0;
    padding: .5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
html::after{
    content: url(/src/assets/yellow\ decore.svg);
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}
html::before{
    content: url(/src/assets/blue\ decore.svg);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}
main{
    width: 80vw;
}

/* Styling the form */
form.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.813rem;
    margin: 0 auto;
}

form.settings select{
    font-size:1.250rem;
    text-align: center;
    padding: 0.938rem 0;
    border-radius:0.938rem;
    width: 100%;
    border: solid 0.125rem #4D5B9E ;
    color: #4D5B9E;
    appearance: none;
    background-color: white;
}

 form.settings button{
    margin: 0;
 }

/* Button status */
button, a{
    font-size: 1rem;
    padding: 1rem 1.750rem ;
    margin-top: 1.250rem;
    border: none;
    border-radius: 0.938rem;
}
button:hover{
    transform: scale(110%);
}
a{
    display: inline-block;
    text-decoration: none;
}
.active{
    color: white;
    background-color: #4D5B9E;
    transition: all .3s;
}
.disabled{
    border: 0.125rem solid #D6DBF5;
    background: white;
    color: #DBDEF0;
}
.active:hover{
    transform: scale(110%);
    cursor: pointer;
}

/* Typo */
h1.title{
    font-size: 1.938rem;
    font-weight: bold;
    color: #293264;
    margin-bottom: 0.625rem;
}

h2.title{
    margin: 0 0 2.813rem 0;
    font-size: 1rem;
    font-weight: normal;
    color: #4D5B9E;
}

h2.score{
 font-size: .8rem;
 color: #293264;
 font-weight: bold;
 margin-top: 1.250rem 0 0;
}

h2.question{
    font-size: 1rem;
    font-weight: 600;
}
.answers-container li{
    list-style: none;
    font-size: 0.750rem;
    border-radius: 0.496rem;
    padding: 0.313rem 1.250rem ;
    width: fit-content;
    border: #D6DBF5 solid 0.063rem;
}

/* Inputs */
input{
    display: none;
}


/* Labels */
label{
    font-size: 0.750rem;
    border-radius: 0.496rem;
    padding: 0.313rem 1.250rem ;
    width: fit-content;
    border: #D6DBF5 solid 0.063rem;
    margin: .5em 0;
}

label:hover,
label:has(input:checked){
        cursor: pointer;
        background: #D6DBF5;
    }

/* Choice status */
label:has(input:checked).wrong{
    background-color: #F8BCBC;
}
label:has(input:checked).right,
label.right{
    background-color: #94D7A2;
    color: white;
}
label.remainig{
    color: #7E7B9B;
}


/* Styling the questions and answers */
.quizz{
    color: #293264;
    text-align: left;
    margin-top: 1rem;
    border: none;
    border-bottom: solid 0.188rem #DBDEF0;
    display: flex;
    gap: 1.125rem;
    padding-left: 0;
}
.answers-container{
    display: flex;
    gap: 0.750rem;
    flex-direction: column;
    padding: 0;
}
form.answers-container{
    margin: 1rem 0 ;
}
/* Error containers */
.sadPath img{
    width: 30vw;
}
.sadPath{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sadPath h1{
    font-size: 2.5rem;
    color: #D7DBE6;
}
/* The loading boxes */
.loadingCont h1{
    color: #D7DBE6;
    font-size: 3rem;
}
.dots{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    
}
.dots img{
    width: 30%;
}